.buttons{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.button{
    margin: 15px 20px 20px 20px;
    font-size: 18px;
    padding: 0.5em;
    background-color: rgba(128, 128, 128, 0.534);
    border: 2px solid rgba(0, 0, 0, 0.815);
    border-radius: 8px;
}

.container {
    display:grid;
    width: 480px;
    height: 480px;
    border: 1px solid black;
    margin: auto;
}

.gridDivs{
    width: auto;
    height: auto;
    border: 1px solid gray;
}

.colorGrid{
    background-color: gray;
}
