.container {
    display:grid;
    width: 480px;
    height: 480px;
    border: 1px solid black;
    margin: auto;
    grid-template-rows: repeat(16, 30px);
    grid-template-columns: repeat(16, 30px);
}
.gridDivs{
    width: 30px;
    height: 30px;
    border: 1px solid gray;
}
.colorGrid{
    background-color: gray;
}